.sp-gutenberg-select-accordion {
    padding: 16px !important;
    border-top: 1px solid #E0E0E0;
    font-size: 12px;
}

.sp-gutenberg-no-accordions-text {
    padding: 0 16px 16px;
    color: #757575;
}

.sp-gutenberg-accordion-placeholder-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.sp-gutenberg-accordion-identifier {
    margin: 0;
}

.sp-gutenberg-edit-accordion {
    margin-top: 20px;
}